head
	script(src="./build/js/bundle.js")
	script(src="http://fb.me/JSXTransformer-0.8.0.js")
	link(rel="stylesheet" href="./build/css/all.min.css")
	link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/project/css')
	link(href="//fontastic.s3.amazonaws.com/ajkCKZcprWV8fCCd7UykoN/icons.css" rel="stylesheet")      
	link(href="//code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet")		

body
	div#content